<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field edit_icon">
    <%= f.label :icon, class: "icon" do %>
      <%= image_tag @user.icon.url, class: "icon" if @user.icon && @user.icon.url %>
      <%= f.file_field :icon, autocomplete: "icon" %>
      <%= f.hidden_field :icon_cache %>
    <% end %>
  </div>

  <div class="field">
    <h4 class="textlabel"><%= f.label :name %></h4>
    <%= f.text_field :name, autocomplete: "name", class: "s-textinput" %>
  </div>

  <div class="field">
    <h4 class="textlabel"><%= f.label :email %></h4>
    <%= f.email_field :email, autocomplete: "email", class: "s-textinput" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <h4 class="textlabel"><%= f.label "変更後パスワード" %></h4>
    <%= f.password_field :password, autocomplete: "new-password", class: "s-textinput", placeholder: " 空欄のままなら変更しません" %>
  </div>

  <div class="field">
    <h4 class="textlabel"><%= f.label "確認用パスワード" %></h4>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "s-textinput", placeholder: " 変更後のパスワード" %>
  </div>

  <div class="field">
    <h4 class="textlabel"><%= f.label :current_password %></h4>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "s-textinput", placeholder: " 変更反映する為、現在のパスワードを入力" %>
  </div>
  <br >
  <div class="actions">
    <%= f.submit "上記内容で更新する", class: "btn-s btn-blue"%>
  </div>
<% end %>

<h3><%= t('users.registrations.edit.cancel_my_account') %></h3>

<p>気に入りませんでしたか? <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back, class: "btn-s btn-red" %>
